@import "_variables.scss";
figure {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
}
figure p {
  display: flex;
  color: $cosmic-latte;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: $bistre;
  transition: opacity 0.4s linear;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: auto;
  opacity: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
figure:hover p {
  opacity: .75;
}