@import "_variables.scss";
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}
body{
  background: linear-gradient(to right, rgb(7, 3, 0), rgba(43,33,24,1));
}

@media screen and (max-width: 800px) {
  .wow {
    visibility: visible !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
   }
}
#error{
  h1{
    text-align: center;
    margin-top: 10rem;
    a{
      color: $camel;
    text-decoration: none;
  }
}
h2{
  text-align: center;
  color: $cosmic-latte;
  font-size: 1rem;
}
}