@import "_variables.scss";
/* INICIO  */
#inicio {
  background-image: url("../img/fondo.gif");
  background-position: 58% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  .flecha{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 98vh;
    width: 100%;
    padding-bottom: 3rem;
    font-size: 2rem;
    color: $cosmic-latte;
  }
  i{
    opacity: .5;
    &:hover{
      opacity: .8;
    }
  }
  & h1 {
    font-size: .8rem;
    margin-top: 4rem;
    color: $camel;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  @include desktop{
    a {
      font-size: 1.2rem;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      text-decoration: none;
      color: $cosmic-latte;
      &:hover {
        color: $cosmic-latte;
        opacity: .7;
      }
      }
    h1{
      font-size: 1;
      justify-content: flex-start;
      padding-left: 15%;
      height: 5vh;
      align-items: flex-start;
    }
  }
  
}
.inicioFondo {
  height: 100vh;
  position: relative;
}
// FILM DIRECTOR 
#filmDirector{
  margin-top: 7rem;
  background: linear-gradient(to right, rgb(7, 3, 0), rgba(43,33,24,1));
  @include desktop{
    margin-top: 5rem;
  }
    .marMob{
      height: auto;
      width: auto;
      display: flex;
    
    }
    .centrar{
      display: flex;
    flex-direction: column-reverse;
    @include desktop {
      flex-direction: row; 
    }
    
  }
  h2{
    width: 80%;
    border-bottom: 1px inset $camel;
    border-bottom-left-radius: 1rem;
    color: $camel;
    padding-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
      }
  p{
  color: $cosmic-latte;
  
   margin-bottom: 2rem;
   margin-right: 1rem;
  margin-left: 1rem;
  }
  a{
    color: $cosmic-latte;
    text-decoration: none;
     
     margin-bottom: 2rem;
     
    
    }
  .carrusel{
    margin-top: 8rem;
    height: auto;
    display: flex;
    
   
    .btn{
      background-color: $barn-red;
      color: $camel;
      font-size: .8rem;
      font-weight: bold;
    }
  }
  .btn{
    background-color: $barn-red;
    color: $camel;
    font-size: .8rem;
    font-weight: bold;
  }
  
}
/* CONTACT  */
#contact {
  background-image: url("../img/segui1.jpg");
  height: 100%;
  background-attachment: scroll;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  .flex{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    flex-direction: column;
    align-content: flex-start;
  }
  & .transparencia {
    padding-top: 15vh;
    width: 100%;
    height: 100vh;
    font-size: 1.2rem;
    background: linear-gradient(to right, rgba(43,33,24,.8),rgba(43,33,24,.6));
    z-index: 8000;
    @include desktop {
      & {
        margin-top: 10vh;
        height: 90vh;
        background: linear-gradient(to right, rgba(43,33,24,.8),rgba(43,33,24,0));
    
      }
    }
  }
  & .formulario {
    display: flex;
    flex-direction: column;
    padding-left: 10%;}
  ul{
  padding-left: 12% ;
  li {
    & a {
      padding-left: 0;
      color: $cosmic-latte;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      font-size: .8rem;
      text-decoration: none;
      margin-bottom: 1rem;
      &:hover {
        opacity: .8;
      }
    }  
  }
}
  & input {
    font-size: .8rem;
    color: $bistre;
    font-weight: 500;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 1rem;
    outline: none;
    background-color: $cosmic-latte;
    border: 0;
    margin-bottom: 1rem;
  }
  & label {
    font-size: 1rem;
    color: $camel;
    padding-left: 4%;
  }
  & textarea {
    font-family: "Raleway";
    font-size: .8rem;
    color: $bistre;
    padding-left: 4%;
    padding-top: 2%;
    border-radius: .5rem;
    outline: none;
    background-color: $cosmic-latte;
    border: 0;
  }
  & .boton {
    width: 10rem;
    height: 2rem;
    border: 1px solid $camel;
    opacity: 1;
    background-color: $barn-red;
    color: $camel;
    transition: all 1s;
    font-size: 1 rem;
    border-radius: 2rem;
    align-self: center;
    padding: 0;
    &:hover {
      opacity: .7;
      font-size: 1.2rem;
    }
  }
}
// ABOUT ME 
#about_me{
  height: 100vh;
  background: linear-gradient(to right, rgb(7, 3, 0), rgba(43,33,24,1));
  align-items: center;
  justify-content: center;
  @include desktop{
    height: 100vh;
  }
 p{
  margin: 1rem;
    color: $camel;
  }
  .contenedorAbout{
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 0;
   }
  .cajaAbout{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 0;
    align-content: center;
    @include desktop{
      align-content: flex-start;
    }
  }
  .transparencia {
    // margin-top: 110px;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
    @include desktop {
      & {
    width: auto;
    height: 224px;
    background: $barn-red;
    border-radius: 2rem;
    opacity: .9;
    border: 1px solid $camel;
      }
    }
  }
  .fondoImg{
    background: $barn-red;
    opacity: .9;
    box-shadow: 0px 0px 1px 1px $camel;
    border-start-end-radius: 2rem;
    border-bottom-right-radius: 2rem;
    @include desktop{
      margin: 0;
      background: none;
      opacity: 1;
      box-shadow: 0px 0px 0px 0px $camel;
        
    }
  }
}