@import "_variables.scss";
/* INICIO  */
#inicio {
  background-image: url("../img/seguÍ_mirando-\(2160p\)\ \(1\).gif");
  background-position: 58% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  & h1 {
    font-size: .8rem;
    margin-top: 3rem;
    color: $camel;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.inicioFondo {
  height: 100vh;
  position: relative;
}

