// VARIABLES
// MAP 
$paleta: (
  "uno": #01070f,
  "dos": #e5e9ee,
  "tres": #7e8288,
);
// variables 
$camel: #af9164ff;
$cosmic-latte: #f7f3e3ff;
$gray-x-11-gray: #b3b6b7ff;
$barn-red: #6f1a07ff;
$bistre: #2b2118ff;
$azul: #01070f;
$blanco: #e5e9ee;
$gris: #7e8288;
$padmob: 2.5rem;
$padesk: 2.5rem;
$footer: 2.6rem;
// mixin 
@mixin desktop {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 767.9px) {
    @content;
  }
}
$box-shadow: 0 .5rem 1rem rgba($blanco, .5);